.indexBody {
	background: url('../images/background.jpg') left top no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 100vh;
    height: auto;
    display: table;
}
.content {
	width: 60%;
	margin-left: 20%;
}
.logo {
	width: 200px;
	height: 70px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}
.form {
	width: 550px;
	margin: auto;
	background-color: #EFEEF1;
	height: 72vh;
	-webkit-box-shadow: 0 0 10px #EAEAF0;
    box-shadow: 0 0 10px #EAEAF0;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}
.loginTitle {
	text-align: center;
	color: #3EB36A;
	font-size: 2.5em;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.loginLine {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E1E7E9;
    margin: 1em 0;
    padding: 0;
}
.loginLabel {
	text-align: center;
	font-size: 1.2em;
	color: #434D5C;
	margin-top: 45px;
	margin-bottom: 5px;
	font-family: "Tahoma", Geneva, sans-serif;
}
.loginInputDiv {
	width: 62%;
	margin-left: 19%;
	border: 1px solid #96ADB4;
	height: 41px;
	display: block;
}
.loginInput {
	width: 81%;
	float: left;
	margin-left: 8%;
	height: 40px;
	border: none;
	background-color: transparent;
	outline: none;
}
.loginInputImg {
	float: left;
	width: 11%;
	height: 40px;
}
.loginBtn {
	display: block;
	background-color: #3EB36A;
	color: white;
	text-align: center;
	font-size: 1.5em;
	margin-top: 40px;
	width: 23%;
	margin-left: 37.5%;
	height: 42px;
	border: none;
	font-family: "Tahoma", Geneva, sans-serif;
}
.registrationLink {
	display: block;
	color: #397DBC;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	margin-top: 20px;
	font-family: "Tahoma", Geneva, sans-serif;
}

/*Home style*/
html {
	background-color: #D1DCDF;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
.menu {
	width: 0%;
	float: left;
	height: 100vh;
	background: #3F966C;
	margin: 0px;
	padding: 0px;
}
.menu.showMe {
	width: 22%;
}
.ontent {
	width: 78%;
	float: left;
	height: 100vh;
}
.ontent.display {
	width: 100%;
}
.header {
	width: 100%;
	height: 90px;
	float: left;
	background: #D1DCDF;
}
.header.display {
	width: 120%;
	margin-left: -85px;
}
.mainContent {
	width: 100%;
	min-height: 100vh;
	height: auto;
	float: left;
	background: #E1E7E9;
}
.headerLogo {
	margin-left: 3.5%;
	margin-top: 28px;
	float: left;
}
.loggedUser {
	font-size: 1.3em;
	color: #60728E;
	width: 50%;
	margin-top: 34px;
	margin-left: 15px;
	float: left;
	font-style: italic;
}
.titleDiv {
	width: 92%;
	height: 70px;
	margin-left: 4%;
	margin-top: 45px;
}
.leftDiv {
	width: 14%;
	float: left;
	height: 70px;
	background: #3F966C;
}
.pageTitle {
	font-size: 2.2em;
	text-align: center;
	color: white;
	margin-top: 16px;
}
.middleDiv {
	width: 65%;
	float: left;
	height: 70px;
	background: #3EB36A;
}
.rightDiv {
	width: 21%;
	height: 70px;
	float: left;
	background: white;
	color: #3EB36A;
	font-size: 1.5em;
	text-align: center;
	padding-top: 20px;
}
.addIcon {
	color: #3EB36A;
	font-size: 1.6em !important;
	text-align: center;
	width: 20%;
	float: left;
	margin-top: 23px;
	margin-left: 10px;
}
.addTitle {
	color: #3EB36A;
	font-size: 1.3em;
	text-align: center;
	width: 70%;
	float: left;
}
.custom-sidebar {
	width: 85px;
	height: 90px;
	float: left;
	background-color: #3EB36A;
	border: none;
	font-size: 3.5em;
	color: white;
	border-radius: 0px;
}
.sidebar-header {
	color: white;
	font-size: 3.5em;
	height: 80px;
	padding-left: 20px;
}
.sidebar-content {
	background-color: #D1DCDF;
	min-height: 100vh;
	margin-top: 10px;
}
.sidebar-button {
	border: none;
	border-radius: 0px;
	width: 100%;
	background-color: #3EB36A;
	color: white;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 35px;
	text-align: left;
}
.pull-right {
	color: #D1DCDF;
	margin-top: 12px !important;
}
.sidebar-sub-button {
	border: none;
	border-radius: 0px;
	width: 100%;
	background-color: white;
	color: #3EB36A;
	font-size: 1.2em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 55px;
}
.tableDiv {
	width: 92%;
	height: auto;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.table-header {
	color: #3EB36A;
	margin-left: 20px;
	padding-top: 20px;
	font-size: 1.8em;
}
.table-content {
	width: 95%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.search-box {
	width: 30%;
	height: 40px;
	border: 1px solid #96ADB4;
	color: #3EB36A;
	font-size: 1.5em;
	padding-top: 3px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}
.search-input {
	border: none;
	width: 85%;
	outline: none;
}
.search-filters {
	display: inline-block;
	float: left;
	font-size: 20px;
	padding-top: 7px;
	padding-left: 20px;
}
.block {
	color: #96ADB4;
	font-size: 0.8em;
	font-weight: normal;
	margin-right: 15px;
}
.block input {
	margin-left: 5px !important;
	float: right;
	width: 17px !important;
	height: 17px !important;
}
.search-select {
	width: 25%;
	height: 40px;
	border: 1px solid #96ADB4;
	color: #96ADB4;
	font-size: 1.1em;
	padding-left: 5px;
	padding-top: 8px;
	margin-bottom: 20px;
	float: right;
}
.dropdown-menu {
	min-width: 100px !important;
	min-height: 40px !important;
	margin-left: 24.5% !important;
	margin-top: 70px !important;
	border: none !important;
	border-radius: 0px !important;
}
.dropdown-menu .btn {
	background: #3F966C;
	border-radius: 0px;
	color: white;
	height: 25px;
	font-size: 0.8em;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-top: 8px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-top: -15px !important;
  margin-left: 38.5% !important;
}
.sidebar-logo {
	width: 50%;
	margin-left: 8%;
	height: auto;
}
button {
	outline: none;
}
table thead {
	background-color: #96ADB4;
	color: white;
}
table thead tr th {
	border-bottom: 1px solid black !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
table tbody {
	color: #96ADB4;
}
.edit-button span {
	padding-left: 8px !important;
}
.edit-button img {
	margin-bottom: 3px;
}
.pagination {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* New Feed component */
.leftDivNewFeed {
	width: 14%;
	float: left;
	height: 70px;
	background: #3F966C;
}
.middleDivNewFeed {
	width: 86%;
	float: left;
	height: 70px;
	background: #3EB36A;
}
.titleDivWhite {
	width: 92%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
}
.pageTitleNewFeed {
	font-size: 2.2em;
	text-align: left;
	color: #3EB36A;
	padding-top: 15px;
	margin-left: 25px;
}
.feedTypeForm {
	width: 92%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: white;
}
.feedCategory {
	float: left;
	display: block;
	margin-top: 25px;
	font-size: 1em;
	font-weight: normal;
}
.searchSelectNewFeed {
	width: 50%;
	height: 40px;
	border: 1px solid #96ADB4;
	color: #96ADB4;
	font-size: 1.1em;
	float: right;
	padding-top: 8px;
	padding-left: 10px;
	margin-top: 15px;
	margin-right: 20px;
}
.new-feed-line {
	margin-right: 20px;
}
.general-info {
	font-size: 1em;
	margin-bottom: 30px;
}
.general-info-left {
	float: left;
	font-weight: normal;
}
.general-info-right {
	float: right;
	margin-right: 20px;
	font-weight: normal;
}
.general-title {
	padding: 0px !important;
	color: #3EB36A;
	padding-top: 20px !important;
	font-size: 1.8em;
}
.half-line {
	padding: 0px !important;
	margin: 0px !important;
	margin-bottom: 30px !important;
	width: 20%;
	margin-right: 80%;
}
.info-label {
	margin: 0px !important;
	padding: 0px !important;
	width: 20%;
	float: left;
	display: block;
	margin-top: 10px !important;
	word-break: normal;
}
.long-info-label {
	margin-top: 0px !important;
}
.info-input {
	width: 60%;
	float: right;
	display: block;
	height: 40px;
	border: 1px solid #96ADB4;
	color: #96ADB4;
	padding-left: 10px;
	padding-right: 10px;
}
.footer {
	width: 92%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: white;
}
.cancel-button {
	background: #96ADB4;
	color: white;
	border: none;
	float: left;
	width: 12%;
	height: 35px;
	margin-top: 32.5px;
	font-size: 1.3em;
}
.add-button {
	background: #3EB36A;
	color: white;
	border: none;
	float: right;
	width: 12%;
	height: 35px;
	margin-top: 32.5px;
	font-size: 1.3em;
	margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  	.info-label {
  		width: 30%;
  		font-size: 1em;
  	}
  	.info-input {
  		width: 50%;
  	}
  	.pageTitle {
  		font-size: 1.8em;
  	}
  	.rightDiv {
  		font-size: 1.2em;
  	}
  	.search-box {
  		width: 22%;
  	}
  	.search-input {
  		width: 70%;
  	}
  	.search-select {
  		width: 20%;
  	}
  	.block {
  		font-size: 0.7em;
  	}
  	.block input {
  		margin-left: 5px !important;
		width: 14px !important;
		height: 14px !important;
  	}

}

@media screen and (max-width: 800px) {
	.search-box {
  		width: 100%;
  		float: left;
  	}
  	.search-input {
  		width: 90%;
  	}
  	.search-select {
  		width: 100%;
  		float: left;
  	}
  	.block {
  		font-size: 0.7em;
  		margin-bottom: 20px;
  	}
}

@media screen and (max-width: 770px) {
  	.pageTitle {
  		font-size: 1.6em;
  	}
  	.feedCategory {
  		width: 30%;
  		float: left;
  	}
  	.searchSelectNewFeed {
  		width: 60%;
  		float: left;
  	}
  	.general-info {
  		margin: 0px;
  	}
  	.general-info-left {
  		width: 100%;
  		float: left;
  		margin-top: 0px;
  		margin-bottom: 10px;
  	}
  	.general-info-right {
  		width: 100%;
  		float: left;
  		margin-top: 0px;
  		margin-bottom: 10px;
  	}
  	.info-input {
  		width: 95%;
  	}
  	.footer {
  		height: 170px; 
  	}
  	.cancel-button {
  		width: 80%;
  		float: left;
  		margin-right: 0px;
  		margin-left: 10%;
  	}
  	.add-button {
  		width: 80%;
  		float: left;
  		margin-right: 0px;
  		margin-left: 10%;
  	}
}

@media screen and (max-width: 650px) {
  	.form {
		width: 450px;
	}
	.pageTitle {
  		font-size: 1.4em;
  	}
  	.search-filters {
  		padding-left: 5px;
  	}
  	.block {
  		width: 100%;
  		float: left;
  	}
  	.tableDiv {
  		margin-top: 100px !important;
  	}
  	.leftDiv {
  		width: 100%;
  		text-align: center;
  		font-size: 2em;
  		padding-bottom: 10px;
  	}
  	.middleDiv {
  		display: none !important;
  	}
  	.rightDiv {
  		width: 100%;
  		float: left;
  	}
}

@media screen and (max-width: 500px) {
  	.form {
		width: 350px;
	}
	.loginInputDiv {
		height: 36px;
	}
	.loginInput {
		height: 35px;
	}
	.loginInputImg {
		height: 35px;
	}
	.loginBtn {
		font-size: 1.3em;
	}
	.pageTitle {
  		font-size: 1.2em;
  	}
  	.feedCategory {
  		width: 100%;
  		float: left;
  	}
  	.searchSelectNewFeed {
  		width: 95%;
  		float: left;
  	}
  	.leftDivNewFeed {
  		width: 100%;
  		text-align: center;
  		font-size: 2em;
  	}
  	.middleDivNewFeed {
  		display: none !important;
  	}
}

@media screen and (max-width: 350px) {
  	.form {
		width: 250px;
	}
	.loginInputDiv {
		height: 31px;
	}
	.loginInput {
		width: 76%;
		height: 30px;
	}
	.loginInputImg {
		width: 16%;
		height: 30px;
	}
	.loginBtn {
		font-size: 1.1em;
	}
	.pageTitle {
  		font-size: 1em;
  	}
}