.indexBody {
	background-image: url('../images/background.jpg');
	background-size: cover;
}
.content {
	width: 60%;
	margin-left: 20%;
}
.logo {
	width: 16%;
	margin-left: 42%;
	margin-top: 40px;
	margin-bottom: 0px;
}
.form {
	width: 43%;
	margin-left: 28.5%;
	background-color: #EFEEF1;
	height: 450px;
	-webkit-box-shadow: 0 0 10px #EAEAF0;
    box-shadow: 0 0 10px #EAEAF0;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}
.loginTitle {
	text-align: center;
	color: #3EB36A;
	font-size: 2.5em;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.loginLine {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E1E7E9;
    margin: 1em 0;
    padding: 0;
}
.loginLabel {
	text-align: center;
	font-size: 1.2em;
	color: #434D5C;
	margin-top: 45px;
	margin-bottom: 5px;
	font-family: "Tahoma", Geneva, sans-serif;
}
.loginInputDiv {
	width: 62%;
	margin-left: 19%;
	border: 1px solid #96ADB4;
	height: 40px;
	display: block;
}
.loginInput {
	width: 80%;
	float: left;
	margin-left: 8%;
	height: 40px;
	border: none;
	background-color: transparent;
}
.loginInputImg {
	float: left;
	width: 12%;
	height: 40px;
}
.loginBtn {
	display: block;
	background-color: #3EB36A;
	color: white;
	text-align: center;
	font-size: 1.5em;
	margin-top: 40px;
	width: 23%;
	margin-left: 37.5%;
	height: 42px;
	border: none;
	font-family: "Tahoma", Geneva, sans-serif;
}
.registrationLink {
	display: block;
	color: #397DBC;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	margin-top: 20px;
	font-family: "Tahoma", Geneva, sans-serif;
}

/*Home style*/
body {
	margin: 0px;
	padding: 0px;
	/*font-family: "Tahoma", Geneva, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}
.menu {
	width: 22%;
	float: left;
	height: 100vh;
	background: #3F966C;
	margin: 0px;
	padding: 0px;
}
.ontent {
	width: 78%;
	float: left;
	height: 100vh;
}
.header {
	width: 100%;
	height: 90px;
	float: left;
	background: #D1DCDF;
}
.mainContent {
	width: 100%;
	height: 100vh;
	float: left;
	background: #E1E7E9;
}
.headerLogo {
	margin-left: 3.5%;
	margin-top: 28px;
	float: left;
}
.loggedUser {
	font-size: 1.3em;
	color: #60728E;
	width: 50%;
	margin-top: 34px;
	margin-left: 15px;
	float: left;
}
.titleDiv {
	width: 92%;
	height: 70px;
	margin-left: 4%;
	margin-top: 45px;
}
.leftDiv {
	width: 14%;
	float: left;
	height: 70px;
	background: #3F966C;
}
.pageTitle {
	font-size: 2.2em;
	text-align: center;
	color: white;
	margin-top: 16px;
}
.middleDiv {
	width: 65%;
	float: left;
	height: 70px;
	background: #3EB36A;
}
.rightDiv {
	width: 21%;
	height: 70px;
	float: left;
	background: white;
}
.addIcon {
	color: #3EB36A;
	font-size: 1.6em !important;
	text-align: center;
	width: 20%;
	float: left;
	margin-top: 23px;
	margin-left: 10px;
}
.addTitle {
	color: #3EB36A;
	font-size: 1.3em;
	text-align: center;
	width: 70%;
	float: left;
}