<!DOCTYPE html>
<html>

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <title>Sign In</title>
	    <link href="../css/style.css" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>     
 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

 		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	</head>

	<body ng-app="Farma" ng-controller="homeController">
	    <div class="menu">
	    	MENU
	    </div>
	    <div class="ontent">
	    	<div class="header">
	    		<img src="../images/user-icon.jpg" class="headerLogo">
	    		<div class="loggedUser">
	    			farm_owner@farm-at.com
	    		</div>
	    	</div>
	    	<div class="mainContent">
		    	<div class="titleDiv">
		    		<div class="leftDiv">
		    			<p class="pageTitle">Feeds</p>
		    		</div>
		    		<div class="middleDiv"></div>
		    		<div class="rightDiv">
		    			<i class="fa fa-plus-circle addIcon"></i>
		    			<p class="addTitle">Add new feed</p>
		    		</div>
		    	</div>
	    	</div>
	    </div>
 		<script src="../js/app.js"></script>
	    <script src="../js/functions.js"></script>
	    <script src="../controllers/HomeController.js"></script>
	</body>

</html>