<div ng-app="Farma" ng-controller="indexController" class="index-body">
	<div class="logo">
		<img src="images/logo.png">
	</div>
	<div class="form">
		<p class="login-title">Login</p>
		<hr class="login-line">
		<p class="login-label">Username</p>
		<div class="login-input-div">
			<input ng-model="user.username" type="text" placeholder="Email" class="login-input">
			<img src="images/icon-username.png" class="login-input-img">
		</div>
		<p class="login-label">Password</p>
		<div class="login-input-div">
			<input ng-model="user.password" type="password" placeholder="Password" class="login-input">
			<img src="images/icon-password.png" class="login-input-img">
		</div>
		<button class="login-button" ng-click="login()">Login</button>
		<a href="#" class="registration-link">Customer Registration</a>
	</div>
</div>