<div ng-app="Farma" ng-controller="newFeedController">
    <!-- Title section -->
    <div class="title-div">
        <div class="left-div-new-feed">
            <p class="page-title">Feeds</p>
        </div>
        <div class="middle-div-new-feed"></div>
    </div>
    <div class="title-div-white">
        <p class="page-title-new-feed">{{commandText}} Feed</p>
    </div>

    <!-- Main section -->
    <div id="general" class="feed-type-form">
        <div class="row">
            <div class="col-sm-6">
                <label class="feed-category" for="categorySelect">Feed Category</label>
                <div class="search-select-new-feed">
                    <select name="categorySelect" class="search-input" ng-model="selectQuery" ng-options="x for x in selectOptions">
                        <option value="" selected>-- Select Feed Category --</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="feed-category" for="categorySelect">Feed Name</label>
                <div class="search-select-new-feed">
                    <select name="nameSelect" class="search-input" ng-model="selectName" ng-options="x for x in selectNames">
                        <option value="" selected>-- Select Feed --</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="new-feed-line">
        <div class="row general-info">
            <div class="col-sm-6">
                <span class="general-info-left">Default Feed </span>
                <span class="general-info-right" style="color: #3EB36A;">Yes</span>
            </div>
            <div class="col-sm-6">
                <span class="general-info-left">IFN </span>
                <span class="general-info-right">{{currentFeed.ifn}}</span>
            </div>
        </div>
        <div class="row general-info">
            <div class="col-sm-6">
                <span class="general-info-left">Supplier </span>
                <span class="general-info-right">{{currentFeed.supplier}}</span>
            </div>
            <div class="col-sm-6">
                <span class="general-info-left">Cost </span>
                <span class="general-info-right">€ {{currentFeed.cost}}</span>
            </div>
        </div>
        <div class="row general-info">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <span class="general-info-left">Forage Desc. </span>
                <span class="general-info-right">{{currentFeed.description}}</span>
            </div>
        </div>
    </div>

    <!-- General section -->
    <div ng-if="selected" class="feed-type-form">
        <p class="general-title">General</p>
        <hr class="half-line">
        <div class="row general-info">
            <div class="col-sm-4">
                <label for="seedName" class="general-info-left info-label">Name</label>
                <input type="text" name="seedName" class="general-info-right info-input" ng-model="currentFeed.name" ng-disabled="editing" />
            </div>
            <div class="col-sm-4">
                <label for="seedSupplier" class="general-info-left info-label">Supplier</label>
                <input type="text" name="seedSupplier" class="general-info-right info-input" ng-model="currentFeed.supplier" />
            </div>
            <div class="col-sm-4">
                <label for="seedCost" class="general-info-left info-label">Cost</label>
                <input type="number" name="seedCost" class="general-info-right info-input" ng-model="currentFeed.cost" />
            </div>
        </div>
        <div class="row general-info">
            <div class="col-sm-4">
                <label for="seedDefault" class="general-info-left info-label">Default</label>
                <input type="text" name="seedDefault" class="general-info-right info-input" disabled="disabled" ng-model="currentFeed.default" />
            </div>
            <div class="col-sm-4">
                <label for="seedCategory" class="general-info-left info-label long-info-label">Feed Category</label>
                <input type="text" name="seedCategory" class="general-info-right info-input" ng-model="selectQuery" disabled="disabled" />
            </div>
            <div class="col-sm-4">
                <label for="seedDescription" class="general-info-left info-label long-info-label">Forage Description</label>
                <input type="text" name="seedDescription" class="general-info-right info-input" ng-model="currentFeed.description" ng-disabled="editing" />
            </div>
        </div>
        <div class="row general-info">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="seedIfn" class="general-info-left info-label">IFN</label>
                <input type="text" name="seedIfn" class="general-info-right info-input" ng-model="currentFeed.ifn" ng-disabled="editing" />
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <!-- Nutritions section -->
    <div ng-if="selected" class="feed-type-form">
        <p class="general-title">Nutritions</p>
        <hr class="half-line">
        <div class="row general-info">
            <div class="col-sm-4">
                <label for="seedPaf" class="general-info-left info-label">paf</label>
                <input type="number" name="seedPaf" class="general-info-right info-input" ng-model="currentFeed.paf" ng-disabled="editing" />
            </div>
            <div class="col-sm-4">
                <label for="seedCl" class="general-info-left info-label">cl</label>
                <input type="number" name="seedCl" class="general-info-right info-input" ng-model="currentFeed.cl" ng-disabled="editing" />
            </div>
            <div class="col-sm-4">
                <label for="seedPhe" class="general-info-left info-label">phe</label>
                <input type="number" name="seedPhe" class="general-info-right info-input" ng-model="currentFeed.phe" ng-disabled="editing" />
            </div>
        </div>
    </div>

    <!-- Commands section -->
    <div class="footer">
        <button type="button" ng-click="toPage('feeds')" class="button cancel-button">Cancel</button>
        <button ng-disabled="!selected" type="button" ng-click="saveOrUpdate()" class="button add-button">{{commandText}}</button>
    </div>
</div>